body {
    font-family: Arial;
    margin: 0;
    background: #f5f7fa;
}

/* HEADER */
header {
    background: #0a2a66;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px;
    background: linear-gradient(to right, #0a2a66, #007bff);
    color: white;
}

.slogan {
    color: gold;
    font-weight: bold;
}

/* SERVICES */
.services {
    padding: 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
}

/* FOOTER */
footer {
    background: #0a2a66;
    color: white;
    text-align: center;
    padding: 10px;
}
.whatsapp-btn {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #25D366;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.whatsapp-btn:hover {
    background-color: #1ebe5d;
    transform: scale(1.05);
}
